.button {
    -fx-font: 24 arial;
    -fx-border-color: BLACK;
    -fx-background-color: WHITE;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

.label {
    -fx-font-family: Papyrus;
    -fx-font-weight: 900;
    -fx-text-alignment: center;
    -fx-background-color: #ccffff;
    -fx-text-fill: #9932cc;
    -fx-border-color: #ccffff;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

.text-field{
    -fx-border-color: darkorchid;
    -fx-text-fill: #ccffff;
    -fx-background-color: darkorchid;
}

#RedBG {
    -fx-background-color: RED;
}

#WhiteBG {
    -fx-background-color: WHITE;
}

#ColorHex {
    /* setting background image */
    -fx-background-image: url("ColorHex.jpg");
    /* so background image does not repeat to fill emptiness */
    -fx-background-repeat: no-repeat;
    /* change background size so that it covers everything */
    -fx-background-size: cover;
}

#SkyIsland {
    -fx-background-image: url("SkyIsland.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#Blimp {
    -fx-background-image: url("Blimp.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#Sky {
    -fx-background-image: url("Sky.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#Train {
    -fx-background-image: url("Train.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#Cloud {
    -fx-background-image: url("Cloud.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#NightSky {
    -fx-background-image: url("NightSky.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}